{% extends 'attendance_app/base.html' %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Welcome to the Smart Attendance System</h1>
        <p class="lead">This system allows you to take attendance using QR codes and facial recognition.</p>
        <hr class="my-4">
        <p>You can start by scanning a QR code or by using the face recognition feature.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'attendance_app:qr_scan' %}" role="button">Scan QR Code</a>
        <a class="btn btn-secondary btn-lg" href="{% url 'attendance_app:face_recognition' %}" role="button">Face Recognition</a>
    </div>

    <div class="mt-5">
        <h2>Export Attendance</h2>
        <p>You can export the attendance records as an Excel file.</p>
        <a class="btn btn-success" href="{% url 'attendance_app:export_attendance' %}" role="button">Export Attendance</a>
    </div>
</div>
{% endblock %}